<h1>Ejercicio 5</h1>
<form #formularioProducto class="form">
  <div class="from-group">
    <label for="producto">Producto</label><br>
    <select name="producto" id="producto" (change)="cambioProductoHandler($event)">
      <input [(ngModel)]="producto x number"pattern="[a-zA-Z ]*" title="Solo producto x number son permitidas" (keyup)="cambioDeproducto x numberHandler" name="producto x number" id="producto x number" type="text" class="form-control">

    </select>
  </div>
  <p><string>precio</string></p>
</form>









