
<h1>Ejercicio 1</h1>
<form #formularioSaludo class="form">
   <table class="table table-bordered">
    <label for="nombre">Nombre</label><br>
<input [(ngModel)]="nombre"pattern="[a-zA-Z ]*" title="Solo letras son permitidas" (keyup)="cambioDeNombreHandler" name="nombre" id="nombre" type="text" class="form-control">
  </div>
  <div class="from-group">
    <label for="apellido">Apellido</label><br>
    <input [(ngModel)]="apellido" pattern="[a-zA-Z ]*" (keyup)="cambioDeApellidoHandler"   name="apellido" id="apellido" type="text" class="form-control">
  </div>
 
 </form>
 <from>
   
<button class="btn btn - sucess"> enviar </button>
<div class="col-md-6"> 
   <table class="table table-bordered">


 <public saludo:string>
 </from>  
 
saludo
</form>
